.categoria{
    margin-top: 30px;
    margin-right: 50px;
    margin-left: 30px;
}
.cat-nom h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(74, 87, 136);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 50px;
}
.cat-pri{
    display: inline-flex;
}
.cat-Sec ul li a{
    color: rgb(62, 62, 62);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.cat-Sec{
    margin-right: 200px;
}
.cart-pri{
    display: flex;
}
.cat-seg{
    display: inline-flex;
}
.cat-pr-ca{
    display: flex;
}
.cat-Sec ul li a:hover{
    color: rgb(10, 103, 199);
    transition: color;
}
.cat-star{
    display: inline-flex;
}
.cat-star i{
    margin-left: 8px;
}

.Image150 {
    width: 921px;
    height: 341px;
    border-radius: 38px;
    display: block;
    margin: 0 auto;
  }

  .containerPromociones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }
  
  .Image149,
  .Image147 {
    width: 368px;
    height: 385px;
    border-radius: 60px;
  }
  
