*{
    margin: 0%;
    padding: 0%;
}

/* inicia header */
.parte1 div{
    display:inline-block;
}
header{
    background-color: rgb(10, 103, 199, 100%);
    padding: 30px;
}
.RedesSociales ul li a{
    color: white;
    padding: 3px;
    margin-top: -25px; 
    font-size: 25px;
}
#fac{
    left: 110px;
    top: 60px;
    position: absolute;
}
#ins{
    left: 50px;
    top: 60px;
    position: absolute;
}
#twi{
    left: 170px;
    top: 60px;
    position: absolute;
}
.RedesSociales ul li{
    list-style: none;
}
.Nombre h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-size: 85px;
    letter-spacing: 15px;
    text-align: center;
    font-weight:bolder;
    text-shadow: 2px 2px 3px black;
    padding-left: 350px;
    padding-bottom: 10px;
    margin-top: -10px;
}
.loginCarr ul li a {
    color: white;
    font-size: 10px;
    position: absolute;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#login{
    left: 1100px;
    top: 60px;
    font-size: 23px;
    margin-top: -15px;
}
#carrito{
    left: 1100px;
    top: 95px;
    font-size: 23px;
}
.loginCarr ul li{
    list-style: none;

}
.menu ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parte2 div{
    display: inline-flex;
}
.menu ul li {
    display: inline-flex;
    letter-spacing: 3px;
}
#boton{
    position: absolute;
    left: 1400px;
    top: 136px;
}
#espacio{
    position: absolute;
    left: 990px;
    top: 155px;

     
    border-width: 5px;
    border-style: solid;
    border-color: #073767;
    font-size: 20px;
    opacity: 0.85;
    background: #073767;
    color: white;
    outline: none;
    border-radius: 30px;
}
#lupa{
    position: absolute;
    left: 960px;
    top: 155px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
    

#prom{
   position: absolute;
   left: 650px;
   top: 140px; 
   font-size: 25px;
   margin-top: 13px;
}
#cat{
    position: absolute;
    left: 350px;
    top: 140px; 
    font-size: 25px;
    margin-top: 13px;
 }
 #ini{
    position: absolute;
    left: 150px;
    top: 140px; 
    font-size: 25px;
    margin-top: 13px;
 }

 /* termina header */
 
/*slider*/

.carousel-item img {
    height: 300px; /* Ajusta la altura de las imágenes según tu preferencia */
    object-fit: cover;
  }

 /*inicia footer*/

 footer{
    background-color: rgb(217, 217, 217);
}
 .info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  .column {
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    
    }
  
    .cuenta {
      font-size: 40px;
      display: flex;
      color: #0A67C7;
      
    }
  
    .datos {
  
  width: 368px;
  height: 34px;
  left: 168px;
  top: 976px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;

    }

    /*aqui comienza el perfil de usuario*/
.Cuenta {
    color: #4A5788;
    padding: 2rem; 
 }

.detalles {
    padding: 1rem;
}

.datos {
    padding: 1rem;
    
}

.color {
    color: #665858;
}

#padding {
    padding: 30px;
}

.pedidos { /*por alguna razon no se aplica el estilo*/
    font-size: 30px;
    
}

.cuenta-container {
    padding: 50px;
    font-size: 20px;
}
/* #image105 {

    position: absolute;
    width: 84px;
    height: 84px;
    left: 500px;
    top: 3978.21px;
    
    background: url(image105.png); 
    transform: rotate(-0.83deg);
    font-size: 100px;
    
} */


/*carrito*/
.carrito {
    color: #4A5788;
    padding: 2rem; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.container {
    margin-bottom: 20px;
  }

  .image {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .text {
    display: inline-block;
    vertical-align: middle;
  }

.contenedor {
    text-align: center;

}

.buy {
    background-color: #BC3636;
    color: white;
    border: none;
    padding: 13px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
}

.button-container {
 
    display: flex;
    align-items: center;
  }

  .button1 {
    margin-left: 5px;
    padding: 5px 15px;
    background-color: #DAC7AA;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }


  /*menu de compra*/
  .buy-1 {
    background-color: #BC3636;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }

  .form{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
/*footer2*/

.footer1{
   
    width: 1510px; height: 503px;
    /* margin-bottom: 10px; */
     /* left: 0px; top: 2958px; */
     position: absolute; 
     background: rgba(88.01, 176.97, 205.06, 0.93);
     border-radius: 57px;
    padding: 30px;
}
.footer2{
    position: absolute;
    margin-top: 460px;
    width: 1510px; 
    height: 317px;
     background: #D9D9D9;
     
}

#footer_correo{
    left: 23.3%;
    position: absolute;
    top: 252px;
    height: 71px;
    width: 737px;
    border-width: 4px;
    border-style: solid;
    border-color: white;
    font-size: 20px;
    opacity: 0.85;
    background: white;
    color: rgb(4, 4, 4);
    cursor: pointer;
    outline: none;
    border-radius: 40.5px;

}
.footer_correo_boton{
     position: absolute;
    /*color: green;*/
    left: 990px;
    top: 252px;  
    width: 161px;
     height: 71px; 
     background: #FBE200; 
     border-radius: 40.50px;
     border-style: solid;
     border-color: #FBE200;
}
.inputEmail{
    opacity: 1;


}

.footer_registrate_text{
    
     width: 570px;
    height: 112px; 
    font-family: 'Kalam', cursive;
   
    font-size: 70px;
    letter-spacing: 3px;
    left: 352px; 
    top: 050px; 
    position: absolute; 
    text-align: center; 
    color: rgba(39.31, 30.79, 30.79, 0.74); 
    font-size: 48px; 
    font-family: Coiny; 
    font-weight: 400;
    word-wrap: break-word;
   
    font-weight: bold;
    
    
     
       
}

#footer_correo::placeholder {
    font-size: 35px; /* Cambia el tamaño del texto del placeholder */
  }
/* termina footer */


/* INICIA LOGIN Y REGISTRO */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif ;
}
/* body{
    background-image: url(https://ganar-ganar.mx/wp-content/uploads/2022/04/ricolino.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} */
 main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor_todo{
    width: 100%;
    background-color: #0A67C7;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja_trasera{
    width: 100%;
  
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(6, 2, 250, 0.3);
}
.caja_trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}
.caja_trasera div p,
.caja_trasera div button {
    margin-top: 30px;
}
.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}
.caja_trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px ;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;

}
.caja_trasera button:hover{
    background: #fff;
    color: #46A2FD;
    
} 
 /* formularios  */
.contenedor_login-registro{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transform: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);
}
.contenedor_login-registro form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
    border: 2px solid #160eec; /* Establece el color y grosor del margen */
}
.contenedor_login-registro form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
}
.contenedor_login-registro form input{
    /* aqui no */
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
.contenedor_login-registro form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: rgb(10, 103, 199, 100%);
    color: white;
    cursor: pointer;
    outline: none;
}
.formulario_login{

    opacity: 1;
    display: block;

}
.formulario_registro{
    display: none;
}

/* trabajando en el responsive desing */
@media screen and (max-width:850px){
    main{
        margin-top: 50px;
    }
    .caja_trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja_trasera div{
        margin:0px;
        position: absolute;
    }
    /* formularios */
    .contenedor_login-registro{
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor_login-registro form{
        position: relative;
    }
    
}

/* TERMINO EL LOGIN Y REGISTRO */